* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/memphis-colorful.png");
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin: auto;
    height: auto;
}

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #ffffff;
    margin: 0px;
}

/* TOP WHITE BOX WITH NAME AND NAV BAR */
#headerBox {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 87px;
}

#nameNavBox {
    text-align: center;
    background-color: #ffffff;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#nameBox {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    float: left;
    background-color: #91d4d1;
    border-bottom: 1px solid #cccccc;
}

#navButtonLinks {
    float: right;
    margin-top: 34px;
    margin-bottom: 34px;
    list-style-type: none;
    overflow: hidden;
}

#headerBox::after {
    content: "";
    display: block;
    clear: both;
}

li {
    float: left;
    border-right: 1px solid #cac9c9;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #777777;
    padding: 0px 16px;
    text-align: center;
    text-decoration: none;
}

h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 25px;
    color: #91d4d1;
}

/* MAIN CONTENT BOX WITH VARIOUS ELEMENTS */
#mainContentBox {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    width: 960px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

#contentHeading {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}

hr {
    border-color: 1px solid #cac9c9;
}

/* ABOUT ME-SPECIFIC CONTENT */
#aboutPhoto {
    float: left;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 50px;
}

#aboutText {
    float: none;
    margin-right: 40px;
    padding-top: 3px;
    color: #777777;
}

/* PORTFOLIO-SPECIFIC CONTENT */
#redFlower {
    position: relative;
    float: left;
    margin-top: -20px;
    margin-left: 40px;
    height: 200px;
    width: 200px;
    background-image: url("../images/P1PlaceholderBromeliad.jpg");
}

#redDescription {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: #ffffff;
    width: 200px;
    padding: 10px;
    text-align: center;
    background: #91d4d1;
}

#blueFlower {
    position: relative;
    float: left;
    margin-top: -20px;
    margin-left: 40px;
    height: 200px;
    width: 200px;
    background-image: url("../images/P2PlaceholderBluebonnet.jpeg");
}

#blueDescription {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: #ffffff;
    width: 200px;
    padding: 10px;
    text-align: center;
    background: #91d4d1;
}

#row1::after {
    content: "";
    display: block;
    clear: both;
}

#orangeFlower {
    position: relative;
    float: left;
    margin-left: 40px;
    height: 200px;
    width: 200px;
    background-image: url("../images/P3PlaceholderOrange.jpg");
}

#orangeDescription {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: #ffffff;
    width: 200px;
    padding: 10px;
    text-align: center;
    background: #91d4d1;
}

#purpleFlower {
    position: relative;
    float: left;
    margin-left: 40px;
    height: 200px;
    width: 200px;
    background-image: url("../images/P4PlaceholderPurple.jpg");
}

#purpleDescription {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: #ffffff;
    width: 200px;
    padding: 10px;
    text-align: center;
    background: #91d4d1;
}

#row2::after {
    content: "";
    display: block;
    clear: both;
}

#pinkFlower {
    position: relative;
    float: left;
    margin-left: 40px;
    height: 200px;
    width: 200px;
    background-image: url("../images/P5PlaceholderPink.jpg");
}

#pinkDescription {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: #ffffff;
    width: 200px;
    padding: 10px;
    text-align: center;
    background: #91d4d1;
}

#row3::after {
    content: "";
    display: block;
    clear: both;
}

#name, #email, #message {
    margin-left: 40px;
    width: 90%;
    color: #777777;
}

#fullNameBox, #emailBox {
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 90%;
    padding: 8px;
    color: #777777;
    border: 1px solid #dddddd;   
}

#messageBox {
    margin-left: 40px;
    margin-top: 5px;
    width: 90%;
    padding: 12px;
    border: 1px solid #dddddd;
    color: #777777;
}

#submit {
    margin-left: 40px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #ffffff;
    background: #91d4d1;
    border: none;
}

#mainContentBox::after {
    content: "";
    display: block;
    clear: both;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 200px 0; }
}

#footer {
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 0px;
    text-align: center;
    color: #777777;
    font-size: 11px;
    border-top: 5px solid #91d4d1;
    background: url("../images/bananas.png");
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 5s linear infinite;
}